.landmark-box, .cultural-box, .dish-box {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.landmark-box img, .cultural-box img, .dish-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.banner-text h1 span, .h2-title span {
    color: #28a745;
}
